/* Gernal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

/* Header Start */

header {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #cccccc4d;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
  width: 100%;
}

/* Header Left */

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left-logo {
  height: 86px;
  width: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #cccccc4d;
}

.header-left-address {
  height: 86px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-left-address p {
  text-align: left;
  width: 69%;
  margin: 0;
  cursor: pointer;
}

.header-left-address p:first-child {
  font-size: 1.12rem;
  font-weight: bold;
}

.header-left-address p:last-child {
  font-size: 0.8rem;
}

.header-left-address p i {
  font-size: 1rem;
  margin: 2px 0px 0px 4px;
}

/* Header Search */

.header-search {
  height: 46px;
  display: flex;
  flex-grow: 1;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 15px;
}

.header-search button {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
}

.header-search input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  background-color: transparent;
  border: none;
}

/* Header Right */

.header-right {
  height: 86px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.header-right-login button {
  font-size: 1.1rem;
  color: rgb(54, 54, 54);
  padding: 15px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header-right-cart button i {
  font-size: 1.5rem;
  color: white;
  margin-right: 5px;
}

.header-right-cart button {
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  padding: 15px;
  background-color: rgb(12, 131, 31);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Header: End */

/* Main Start */

/* Banner Section */

.banner-section {
  max-width: 1280px;
  margin: auto;
}

.banner-section img {
  width: 100%;
}

/* Order Banner Section */

.order-banner {
  display: flex;
  max-width: 1280px;
  margin: auto;
}

.order-banner-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.order-banner-items:nth-child(2) {
  margin: 20px 0px;
}

.order-banner-items img {
  max-width: 100%;
}

/* Category Section */

.category-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
}

.category-items {
  flex-basis: 10%;
}

.category-items img {
  width: 100%;
}

/* Product Section */

.product-section {
  max-width: 1280px;
  margin: auto;
  padding: 10px 0px;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-heading p {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-heading a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #328839;
}

.product-row {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  flex-basis: 15%;
  gap: 2%;
}

.product-items {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.product-img {
  text-align: center;
}

.product-img p {
  background-color: #f8f8f8;
  padding: 2px;
  border-radius: 5px;
  font-size: 0.55rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 40%;
}

.product-img p img {
  width: 12px;
  text-align: center;
}

.product-content {
  padding: 0px 10px 10px 10px;
}

.product-content p:first-child {
  height: 36px;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 10px 0px;
}

.product-content p:nth-child(2) {
  font-size: 0.75rem;
  margin: 10px 0px;
  color: #848080;
}

.product-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-button p {
  font-size: 0.8rem;
  font-weight: 500;
}

.product-button button {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 5px 15px;
  border: 1px solid #328839;
  background-color: white;
  color: #328839;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */

/* Footer Row 1 */

footer {
  padding-top: 40px;
}

.footer-mid {
  max-width: 1280px;
  margin: auto;
}

.footer-mid-row1 {
  width: 100%;
  display: flex;
  gap: 40px;
}

.footer-mid-row1-left {
  flex-basis: 30%;
}

.footer-mid-row1-left p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.useful-links {
  display: flex;
}

.useful-links ul {
  flex-basis: 33%;
}

.useful-links ul li {
  list-style: none;
  margin: 10px 0px;
}

.useful-links ul li a {
  text-decoration: none;
  color: #848080;
  font-size: 0.9rem;
}

.useful-links ul li a:hover {
  color: black;
}

.footer-mid-row1-right {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.footer-mid-row1-right-heading {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-mid-row1-right-heading p {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-mid-row1-right-heading a {
  text-decoration: none;
  color: #328839;
  font-size: 1rem;
  margin-left: 20px;
}

.categories-link {
  display: flex;
}

.categories-link ul {
  flex-basis: 33%;
  margin-bottom: 10px;
}

.categories-link ul li {
  list-style: none;
  margin: 10px 0px;
}

.categories-link ul li a {
  text-decoration: none;
  color: #848080;
  font-size: 0.9rem;
}

.categories-link ul li a:hover {
  color: black;
}

/* Footer Row 2 */

.footer-mid-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  background-color: #fcfcfc;
  margin: auto;
  padding: 20px 0px;
}

.footer-mid-row2-line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
}

.footer-mid-row2-line1 p {
  font-size: 0.85rem;
  color: #848080;
}

.footer-mid-row2-line1 p a {
  text-decoration: none;
  color: #328839;
}

.footer-mid-row2-line2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 33%;
}

.footer-mid-row2-line2 p {
  font-size: 0.95rem;
  color: #848080;
  font-weight: bold;
}

.footer-mid-row2-line3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
}

.footer-mid-row2-line3 a i {
  font-size: 1.75rem;
  color: black;
  margin: 0px 10px;
}

/* Footer Row 3 */

.footer-mid-row3 {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 20px 0px;
}

.footer-mid-row3 p {
  font-size: 0.85rem;
  color: #848080;
}

/* Footer End */
